In [52]:
import datetime, time, math
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import pickle
import seaborn as sns

In [53]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn import model_selection, tree, preprocessing, metrics, linear_model
from sklearn.svm import LinearSVC
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LinearRegression, LogisticRegression, SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, precision_recall_curve, auc, roc_auc_score, roc_curve, recall_score, classification_report

In [54]:
# Show plots in jupyter notebook
%matplotlib inline

In [55]:
DATA_DIR = os.path.join("C:/Users/saivi/Documents/BCG", "processed_data")
TRAINING_DATA = os.path.join(DATA_DIR, "train_data.pkl")
HISTORY_DATA = os.path.join(DATA_DIR, "history_data.pkl")

In [56]:
train_data = pd.read_pickle(TRAINING_DATA)
history_data = pd.read_pickle(HISTORY_DATA)

In [57]:
train_data.head()

,id,cons_12m,cons_gas_12m,cons_last_month,forecast_cons_12m,forecast_discount_energy,forecast_meter_rent_12m,forecast_price_energy_p1,forecast_price_energy_p2,forecast_price_pow_p1,...,origin_usa,activity_apd,activity_ckf,activity_clu,activity_cwo,activity_fmw,activity_kkk,activity_kwu,activity_sfi,activity_wxe
0,48ada52261e7cf58715202705a0451c9,5.490346,0.000000,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,0,0,0,0,0,0,0,0
1,24011ae4ebbe3035111d65fa7c15bc57,4.327104,4.739944,0.000000,3.085953,0.0,0.444045,0.114481,0.098142,40.606701,...,0,0,0,0,0,0,0,0,0,0
2,d29c2c54acc38ff3c0614d0a653813dd,3.668479,0.000000,0.000000,2.280920,0.0,1.237292,0.145711,0.000000,44.311378,...,0,0,0,0,0,0,0,0,0,0
3,764c75f661154dac3a6c254cd082ea7d,2.736397,0.000000,0.000000,1.689841,0.0,1.599009,0.165794,0.087899,44.311378,...,0,0,0,0,0,0,0,0,0,0
4,bba03439a292a1e166f80264c16191cb,3.200029,0.000000,0.000000,2.382089,0.0,1.318689,0.146694,0.000000,44.311378,...,0,0,0,0,0,0,0,0,0,0

In [58]:
train_data.shape

(16096, 44)

In [59]:
history_data.head()

,id,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
0,038af19179925da21a25619c5a24b745,2015-01-01,0.151367,0.0,0.0,44.266931,0.0,0.0
1,038af19179925da21a25619c5a24b745,2015-02-01,0.151367,0.0,0.0,44.266931,0.0,0.0
2,038af19179925da21a25619c5a24b745,2015-03-01,0.151367,0.0,0.0,44.266931,0.0,0.0
3,038af19179925da21a25619c5a24b745,2015-04-01,0.149626,0.0,0.0,44.266931,0.0,0.0
4,038af19179925da21a25619c5a24b745,2015-05-01,0.149626,0.0,0.0,44.266931,0.0,0.0

In [60]:
train_data.shape

(16096, 44)

In [61]:
train_data['id']

0        48ada52261e7cf58715202705a0451c9
1        24011ae4ebbe3035111d65fa7c15bc57
2        d29c2c54acc38ff3c0614d0a653813dd
3        764c75f661154dac3a6c254cd082ea7d
4        bba03439a292a1e166f80264c16191cb
                       ...
16091    18463073fb097fc0ac5d3e040f356987
16092    d0a6f71671571ed83b2645d23af6de00
16093    10e6828ddd62cbcf687cb74928c4c2d2
16094    1cf20fd6206d7678d5bcafd28c53b4db
16095    563dde550fd624d7352f3de77c0cdfcd
Name: id, Length: 16096, dtype: object

In [62]:
train_data[train_data['id']=='038af19179925da21a25619c5a24b745']

,id,cons_12m,cons_gas_12m,cons_last_month,forecast_cons_12m,forecast_discount_energy,forecast_meter_rent_12m,forecast_price_energy_p1,forecast_price_energy_p2,forecast_price_pow_p1,...,origin_usa,activity_apd,activity_ckf,activity_clu,activity_cwo,activity_fmw,activity_kkk,activity_kwu,activity_sfi,activity_wxe
12189,038af19179925da21a25619c5a24b745,3.553519,0.0,2.800029,2.72632,0.0,1.313656,0.14398,0.0,44.311378,...,0,0,0,0,0,0,0,0,0,1

In [63]:
history_data[history_data['id']=='038af19179925da21a25619c5a24b745']

,id,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
0,038af19179925da21a25619c5a24b745,2015-01-01,0.151367,0.0,0.0,44.266931,0.0,0.0
1,038af19179925da21a25619c5a24b745,2015-02-01,0.151367,0.0,0.0,44.266931,0.0,0.0
2,038af19179925da21a25619c5a24b745,2015-03-01,0.151367,0.0,0.0,44.266931,0.0,0.0
3,038af19179925da21a25619c5a24b745,2015-04-01,0.149626,0.0,0.0,44.266931,0.0,0.0
4,038af19179925da21a25619c5a24b745,2015-05-01,0.149626,0.0,0.0,44.266931,0.0,0.0
5,038af19179925da21a25619c5a24b745,2015-06-01,0.149626,0.0,0.0,44.266930,0.0,0.0
6,038af19179925da21a25619c5a24b745,2015-07-01,0.150321,0.0,0.0,44.444710,0.0,0.0
7,038af19179925da21a25619c5a24b745,2015-08-01,0.145859,0.0,0.0,44.444710,0.0,0.0
8,038af19179925da21a25619c5a24b745,2015-09-01,0.145859,0.0,0.0,44.444710,0.0,0.0
9,038af19179925da21a25619c5a24b745,2015-10-01,0.145859,0.0,0.0,44.444710,0.0,0.0
10,038af19179925da21a25619c5a24b745,2015-11-01,0.145859,0.0,0.0,44.444710,0.0,0.0
11,038af19179925da21a25619c5a24b745,2015-12-01,0.145859,0.0,0.0,44.444710,0.0,0.0

Both the DataFrames can be mearged on 'id'

In [64]:
train = pd.merge(train_data, history_data, on='id')

In [65]:
train.head()

,id,cons_12m,cons_gas_12m,cons_last_month,forecast_cons_12m,forecast_discount_energy,forecast_meter_rent_12m,forecast_price_energy_p1,forecast_price_energy_p2,forecast_price_pow_p1,...,activity_kwu,activity_sfi,activity_wxe,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
0,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,0,2015-01-01,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426
1,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,0,2015-02-01,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426
2,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,0,2015-03-01,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426
3,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,0,2015-04-01,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426
4,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,0,2015-05-01,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426

In [66]:
train.shape

(193002, 51)

In [67]:
copy_train=train

In [68]:
train.dtypes

id                                  object
cons_12m                           float64
cons_gas_12m                       float64
cons_last_month                    float64
forecast_cons_12m                  float64
forecast_discount_energy           float64
forecast_meter_rent_12m            float64
forecast_price_energy_p1           float64
forecast_price_energy_p2           float64
forecast_price_pow_p1              float64
has_gas                              int64
imp_cons                           float64
margin_gross_pow_ele               float64
margin_net_pow_ele                 float64
nb_prod_act                          int64
net_margin                         float64
pow_max                            float64
churn                                int64
tenure                               int32
months_activ                       float64
months_to_end                      float64
months_modif_prod                  float64
months_renewal                     float64
channel_epu                          uint8
channel_ewp                          uint8
channel_fix                          uint8
channel_foo                          uint8
channel_lmk                          uint8
channel_sdd                          uint8
channel_usi                          uint8
origin_ewx                           uint8
origin_kam                           uint8
origin_ldk                           uint8
origin_lxi                           uint8
origin_usa                           uint8
activity_apd                         uint8
activity_ckf                         uint8
activity_clu                         uint8
activity_cwo                         uint8
activity_fmw                         uint8
activity_kkk                         uint8
activity_kwu                         uint8
activity_sfi                         uint8
activity_wxe                         uint8
price_date                  datetime64[ns]
price_p1_var                       float64
price_p2_var                       float64
price_p3_var                       float64
price_p1_fix                       float64
price_p2_fix                       float64
price_p3_fix                       float64
dtype: object

In [69]:
train

,id,cons_12m,cons_gas_12m,cons_last_month,forecast_cons_12m,forecast_discount_energy,forecast_meter_rent_12m,forecast_price_energy_p1,forecast_price_energy_p2,forecast_price_pow_p1,...,activity_kwu,activity_sfi,activity_wxe,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
0,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,0,2015-01-01,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426
1,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,0,2015-02-01,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426
2,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,0,2015-03-01,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426
3,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,0,2015-04-01,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426
4,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,0,2015-05-01,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192997,563dde550fd624d7352f3de77c0cdfcd,3.941064,0.0,0.000000,2.882758,0.0,0.315970,0.167086,0.088454,45.311378,...,0,0,0,2015-08-01,0.165962,0.086905,0.000000,44.266930,0.000000,0.00000
192998,563dde550fd624d7352f3de77c0cdfcd,3.941064,0.0,0.000000,2.882758,0.0,0.315970,0.167086,0.088454,45.311378,...,0,0,0,2015-09-01,0.165962,0.086905,0.000000,44.266930,0.000000,0.00000
192999,563dde550fd624d7352f3de77c0cdfcd,3.941064,0.0,0.000000,2.882758,0.0,0.315970,0.167086,0.088454,45.311378,...,0,0,0,2015-10-01,0.165962,0.086905,0.000000,44.266930,0.000000,0.00000
193000,563dde550fd624d7352f3de77c0cdfcd,3.941064,0.0,0.000000,2.882758,0.0,0.315970,0.167086,0.088454,45.311378,...,0,0,0,2015-11-01,0.165962,0.086905,0.000000,44.266930,0.000000,0.00000
193001,563dde550fd624d7352f3de77c0cdfcd,3.941064,0.0,0.000000,2.882758,0.0,0.315970,0.167086,0.088454,45.311378,...,0,0,0,2015-12-01,0.165962,0.086905,0.000000,44.266930,0.000000,0.00000

In [70]:
train['id'].nunique()

16096

In [71]:
train

,id,cons_12m,cons_gas_12m,cons_last_month,forecast_cons_12m,forecast_discount_energy,forecast_meter_rent_12m,forecast_price_energy_p1,forecast_price_energy_p2,forecast_price_pow_p1,...,activity_kwu,activity_sfi,activity_wxe,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
0,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,0,2015-01-01,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426
1,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,0,2015-02-01,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426
2,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,0,2015-03-01,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426
3,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,0,2015-04-01,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426
4,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,0,2015-05-01,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192997,563dde550fd624d7352f3de77c0cdfcd,3.941064,0.0,0.000000,2.882758,0.0,0.315970,0.167086,0.088454,45.311378,...,0,0,0,2015-08-01,0.165962,0.086905,0.000000,44.266930,0.000000,0.00000
192998,563dde550fd624d7352f3de77c0cdfcd,3.941064,0.0,0.000000,2.882758,0.0,0.315970,0.167086,0.088454,45.311378,...,0,0,0,2015-09-01,0.165962,0.086905,0.000000,44.266930,0.000000,0.00000
192999,563dde550fd624d7352f3de77c0cdfcd,3.941064,0.0,0.000000,2.882758,0.0,0.315970,0.167086,0.088454,45.311378,...,0,0,0,2015-10-01,0.165962,0.086905,0.000000,44.266930,0.000000,0.00000
193000,563dde550fd624d7352f3de77c0cdfcd,3.941064,0.0,0.000000,2.882758,0.0,0.315970,0.167086,0.088454,45.311378,...,0,0,0,2015-11-01,0.165962,0.086905,0.000000,44.266930,0.000000,0.00000
193001,563dde550fd624d7352f3de77c0cdfcd,3.941064,0.0,0.000000,2.882758,0.0,0.315970,0.167086,0.088454,45.311378,...,0,0,0,2015-12-01,0.165962,0.086905,0.000000,44.266930,0.000000,0.00000

In [72]:
train['price_date'].dtype

dtype('<M8[ns]')

In [73]:
train['price_date'] = pd.to_datetime(train['price_date'], format='%Y-%m-%d')

In [74]:
train['price_date']=train['price_date'].map(datetime.datetime.toordinal)

In [75]:
train['price_date'].dtype

dtype('int64')

In [76]:
pd.DataFrame({'DataFrame Columns': train.columns})

           DataFrame Columns
0                         id
1                   cons_12m
2               cons_gas_12m
3            cons_last_month
4          forecast_cons_12m
5   forecast_discount_energy
6    forecast_meter_rent_12m
7   forecast_price_energy_p1
8   forecast_price_energy_p2
9      forecast_price_pow_p1
10                   has_gas
11                  imp_cons
12      margin_gross_pow_ele
13        margin_net_pow_ele
14               nb_prod_act
15                net_margin
16                   pow_max
17                     churn
18                    tenure
19              months_activ
20             months_to_end
21         months_modif_prod
22            months_renewal
23               channel_epu
24               channel_ewp
25               channel_fix
26               channel_foo
27               channel_lmk
28               channel_sdd
29               channel_usi
30                origin_ewx
31                origin_kam
32                origin_ldk
33                origin_lxi
34                origin_usa
35              activity_apd
36              activity_ckf
37              activity_clu
38              activity_cwo
39              activity_fmw
40              activity_kkk
41              activity_kwu
42              activity_sfi
43              activity_wxe
44                price_date
45              price_p1_var
46              price_p2_var
47              price_p3_var
48              price_p1_fix
49              price_p2_fix
50              price_p3_fix

In [77]:
train['uniqueId'] = (train['id']).astype('category').cat.codes
train.head()

,id,cons_12m,cons_gas_12m,cons_last_month,forecast_cons_12m,forecast_discount_energy,forecast_meter_rent_12m,forecast_price_energy_p1,forecast_price_energy_p2,forecast_price_pow_p1,...,activity_sfi,activity_wxe,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix,uniqueId
0,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,735599,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426,4666
1,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,735630,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426,4666
2,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,735658,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426,4666
3,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,735689,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426,4666
4,48ada52261e7cf58715202705a0451c9,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,...,0,0,735719,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426,4666

In [78]:
train.tail()

,id,cons_12m,cons_gas_12m,cons_last_month,forecast_cons_12m,forecast_discount_energy,forecast_meter_rent_12m,forecast_price_energy_p1,forecast_price_energy_p2,forecast_price_pow_p1,...,activity_sfi,activity_wxe,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix,uniqueId
192997,563dde550fd624d7352f3de77c0cdfcd,3.941064,0.0,0.0,2.882758,0.0,0.31597,0.167086,0.088454,45.311378,...,0,0,735811,0.165962,0.086905,0.0,44.26693,0.0,0.0,5472
192998,563dde550fd624d7352f3de77c0cdfcd,3.941064,0.0,0.0,2.882758,0.0,0.31597,0.167086,0.088454,45.311378,...,0,0,735842,0.165962,0.086905,0.0,44.26693,0.0,0.0,5472
192999,563dde550fd624d7352f3de77c0cdfcd,3.941064,0.0,0.0,2.882758,0.0,0.31597,0.167086,0.088454,45.311378,...,0,0,735872,0.165962,0.086905,0.0,44.26693,0.0,0.0,5472
193000,563dde550fd624d7352f3de77c0cdfcd,3.941064,0.0,0.0,2.882758,0.0,0.31597,0.167086,0.088454,45.311378,...,0,0,735903,0.165962,0.086905,0.0,44.26693,0.0,0.0,5472
193001,563dde550fd624d7352f3de77c0cdfcd,3.941064,0.0,0.0,2.882758,0.0,0.31597,0.167086,0.088454,45.311378,...,0,0,735933,0.165962,0.086905,0.0,44.26693,0.0,0.0,5472

In [79]:
#Changing the id column and uniqueid column to a dictionary

id_dict = train.set_index('id').to_dict()['uniqueId']
id_dict

{'48ada52261e7cf58715202705a0451c9': 4666,
 '24011ae4ebbe3035111d65fa7c15bc57': 2361,
 'd29c2c54acc38ff3c0614d0a653813dd': 13250,
 '764c75f661154dac3a6c254cd082ea7d': 7430,
 'bba03439a292a1e166f80264c16191cb': 11748,
 '568bb38a1afd7c0fc49c77b3789b59a3': 5493,
 '149d57cf92fc41cf94415803a877cb4b': 1328,
 '1aa498825382410b098937d65c4ec26d': 1704,
 '7ab4bf4878d8f7661dfc20e9b8e18011': 7719,
 '01495c955be7ec5e7f3203406785aae0': 100,
 'f53a254b1115634330c12c7fdbf7958a': 15404,
 '10c1b2f97a2d2a6f10299dc213d1a370': 1082,
 'd5e512dbc8118a830a7b8c7f61d89992': 13453,
 '6ee77a019251bcc304c88167e0dfcb4c': 7017,
 '2c05848e1a577dd041ea6804bbf5bbf5': 2866,
 '21860c2ff2d5df75503b230ce629c253': 2167,
 '227254ed8be1393d5e37e6dc9c3f359b': 2241,
 'c5037389dd8be351d3c40f2973da2391': 12348,
 'e4773b60d2e68aac94795782abfc006b': 14398,
 'bd14bbac3aca710ee5288fcd8511d4bb': 11829,
 '4e4a34a6d91ff25d0fdf68733907ad44': 5013,
 'f2b93783adecf0d0d8d60ab547bda3de': 15243,
 '47e976c5d7f1ee1fee6d60ca39fd0218': 4621,
 'db6ac41fb6972374f28bc6f8e43b9764': 13816,
 'bee0c7e972180fbee50c2ea15b12965c': 11927,
 '78014630fbac3e6aa980361d25cea748': 7557,
 '050706fa01538720da274cbeb6e1f983': 304,
 '5789c446141a44a9b405db35682f6eb5': 5551,
 'ed5bc499fecb8eee257857fd286ebd65': 14927,
 '389bbbe70248fbeecdf9bb1bd0d1da04': 3667,
 '31615bef53242dfedeaf275214044ca1': 3184,
 '74ff037708f036de5745ce34d8d9d4df': 7364,
 '7287dad2f1f535d03435ea7c78b557c4': 7227,
 '26c7bba7d51f86a16109de505bcd4f52': 2546,
 '44e826a55734d0ca5eeafcae0e991a75': 4452,
 '4bffd9d74bfb770ef7763e8e4e88dfc3': 4880,
 '2d9d0546d83c60ed3d5728d744d65c40': 2959,
 '79d29481ee261caf08387bcef9e4346d': 7668,
 '044d071a5dbc2668cddad4f2b28c91d1': 254,
 'af87b64523cf1f4f4a681e2cc44c8629': 10999,
 '9403f3f9ff06ec9e49db8255ede2b098': 9274,
 '51a7edcf29ed04830da6b3ee79f9e508': 5192,
 'd9260de11c54a215fa7363f603bbeaf6': 13667,
 'a853b52e3992aa2df0870fe42d843a65': 10540,
 '91607f6e0ed7143ab1a5b2abc20f1c00': 9110,
 '757ea31873662fe77d60e8c4f736a1ec': 7386,
 'd53f9011d82ed1f4850d0d312d04468b': 13418,
 'af47b8ea9a596c200ee39128a95738f9': 10988,
 'f8943edfeb1783f3793d3abc6305c1e3': 15627,
 'adfec8a906dfa5c6d836231e65825539': 10899,
 'c6951b289531272a5d02c095db1fb55f': 12458,
 '34f2d4431b7db25cd660b098acf3d3a0': 3402,
 'cdcc2c363d5b34232082cee78776e59e': 12927,
 'b96aa3a8655203318c6b853dbdb0ceb7': 11619,
 '54a77b7ec412ca7133750d2cb2a24096': 5368,
 '0f7487e3c557be9c77570e11ce572454': 1013,
 '17e84c1bc19211777dfbb1cca8af94fc': 1549,
 'b664719a6cbb1966d9987c3f6ec6d209': 11430,
 'd8e589d515b7c905bb73eece1d8781d8': 13642,
 'a20ef5d293e20e3d9e9f60cf2be3ce63': 10129,
 '64c0ca2d8c32cd4985b6ab53f17f897f': 6381,
 '413f4bf21686876dd0d9a2bf0cc5ba1f': 4222,
 '3bd97d79feb083b315baa9545c76c84d': 3895,
 'cb5171895e4a15e2c72cbbd7cf054cbf': 12783,
 'b50576e9fd15d9fa7e550be0f19fbf9e': 11337,
 '063acc614e176cf9edb486d267a90097': 379,
 'cd2ac5886d344c93b3a2358e4604e1fe': 12890,
 '78b67084b27f0d33429985d7a1fd6258': 7600,
 'ac9b40690cdc78263fecc452bd92c227': 10810,
 '4d4a8d5a884e49e2a8f7994b21a3cb18': 4961,
 'd26bcf1a3e3f6252b9812903f402dcf1': 13236,
 'd44fcb35df8f88e9032ad52678d060a3': 13369,
 '327e887296aa77019b4954c6bb0a8cc3': 3258,
 '6f062ee9f3f8b2a404078abb4cd85510': 7024,
 'd8fba21592000ae17ac964d93e827c05': 13650,
 '9cdfb70886ecb55f8a8620af8a99a722': 9817,
 'd8711ce9aef0a42cf24b1e65da32fe3f': 13618,
 '215fcb61cd9905b5e605b292666975d9': 2153,
 '33e5a46305e282aef856ef00fee02e2c': 3339,
 '270835591aad4b5231d23fb7bdcd3bcf': 2563,
 'd766f436878bdf7c211ad1546e4357e9': 13545,
 '38ff1f75487719c54ba3d4a46f9ee244': 3691,
 'a29ad433a1585b364e5485ec55b6bbc3': 10166,
 '3143ff0dec9bb97876c726e42b5a66c6': 3172,
 '237111445b27c435937f982ffcaef727': 2316,
 'be272db990d3604a49a54887dfa904f4': 11889,
 '6187a71186583ed2457d182b00b632c5': 6161,
 '6ae7e4a3bdf96abb7783b342378ca5fc': 6752,
 'cfc1377e09c9866fae771bb4180f026a': 13056,
 'd4a84ff4ec620151ef05bdef0cf27eab': 13391,
 '1d4a665170914d996d3fb78069495516': 1897,
 'e91f386614c13becdf81cc47fadfa2a2': 14657,
 'b5159f09fc3592f49048683fb75629da': 11343,
 'c0465e0147cc1faf14e8793a14c92cd2': 12029,
 '3c52cd186c318638296ed093e9cdf412': 3931,
 '0acfc92892cc39bb48fb3398a8cda11f': 703,
 'a847d1f70553a669ff5f793995b437c1': 10537,
 'f1f24e9f048478c6d41fa05795b1d424': 15188,
 '471f25ae25f8c42dbfae0bc1e76c1cd3': 4577,
 'e0b40169a9075474ca8bddab6d490484': 14156,
 '3133a89333b09b9eaf541818eabf5c93': 3166,
 '9d566b80c46439fb4fa5d9c8eaa51f7e': 9850,
 'c30e2e4d0abce6b4db1d0280778d04d4': 12205,
 '599a07e92a3980ae637d36cd6111045f': 5666,
 'ac9033ee1d6056f4ac827d79bedcc72d': 10805,
 '900937b8062eaec84aa1e5f16cdfe57d': 9038,
 '99158224050f70b152be49f14f86686b': 9582,
 '6a4526450ca4ee8a2cd6709b2a627c8d': 6716,
 'fb098050d05db98b60413a9625107bd8': 15782,
 'da81ccd181f3283287a174f4eca547de': 13762,
 'bd265cf7f018d2bea11e0cae69b493f1': 11834,
 '3e879cdd58c64242ecb67211395a6508': 4073,
 '2c8177dd04a8d4760c8ae4630d5db435': 2897,
 '3beb7a9262b1e77bdd8520a546e7a579': 3901,
 '7e6b8140b261e49bd1f6bfa03266355d': 7966,
 '8a03a1cb07e0c84dc84f9832eae4d23f': 8664,
 'b41c10c88eab663dfd610b80a932bb4c': 11294,
 'fdfe279dd0446c30e15ecfab16b9002b': 15964,
 'cf6526ff2524fb9a3663f8fca1bdf6c3': 13024,
 '882b924b96a0a422a5930cc87673051e': 8571,
 '0b0da18e644bac389ba02ab23e1487ed': 720,
 '88cb009b746ab1b9a55dc5efcd1cc733': 8600,
 '778ddcb8f3092f5b501e7ae19ce228f3': 7516,
 '0019baf3ed1242cd99b3cb592030446f': 9,
 '2ea90e8741145bab63f53ec88cb7295a': 3020,
 '616018ccf121480488737b3823361d1a': 6152,
 'c84ec3bd5e20182784b1b971be72c299': 12575,
 'd263e956a4b3d8522299e10714087894': 13234,
 '2c75c74a7c0f2651b3ae5ec830c34b8f': 2894,
 '30056ab231d545b01bf64a4afee54001': 3102,
 'f1bc4ec5aa7efda1226655623274648a': 15173,
 'cfe53ea9433504883086fc113f19bf3d': 13066,
 '2377643ffe1711ed3a6f107d6846aa22': 2319,
 '0d933e7fe322dea60b3a4e9dfbfee9d8': 883,
 'bf3c67d9664f3459e6e04e607a507e64': 11951,
 'd829d9c7a845cf8f488521805ad8c95a': 13599,
 '987a0a5e856d2185db60c718da435160': 9537,
 '085b7eec474bd25f8140577833f0a6ac': 530,
 '4c14c36a57ab73b4b800fc995d3beb73': 4886,
 '373fb825c489645f221952db53e35a60': 3565,
 'c94671d9f76a07fe541480bc62edb60a': 12641,
 '8dcf72174797ae1837d423396bbb7e98': 8905,
 '311924ef8566de7b248f577fe08fa5c5': 3157,
 'b80d271d99d6f7196ef6b591cc99930c': 11530,
 '3c4ee938001975a4d07cf27a54de433c': 3930,
 '054a060473c4f11a08dcdb183f9be82d': 318,
 '5e8b2c437090e22ffe168d19c3aa79eb': 5969,
 '6c13700b7435b2547163d04008bf3975': 6829,
 'f451b7678fe549050ed1df7e41a57f1d': 15353,
 '839492301e7c2d24c02c89315f307e39': 8282,
 '408e0c75cd8f58197c06edb73428bb0d': 4183,
 '6179f9b2f03fe9aaceb4f82e67d0842a': 6158,
 '08c71e940a19496b078df652dcaa3e98': 554,
 '1eb6d6268118c75576a55f49a66b8c57': 1989,
 '9c19c00c6d3dc0b8ad7a180c6ca03672': 9773,
 'cf8c5db0c02e3f92592daccba41c918c': 13037,
 '913bb512f7ca698b02149c9189c7c606': 9100,
 '6813b5d674d951ff92baf485658f5ce7': 6582,
 '1da8be069526d166b7cfd15284c68873': 1923,
 'c6e395b4ce0f5400b8de1bf1a4d4b571': 12478,
 '7d887f3330110231b51aad27f2ded024': 7905,
 '61b8d915f76bf6ab25dcf097e5384366': 6173,
 '71437410625520c4e4cc494f113275ee': 7147,
 'd1afecf1cead7d46c0a94166819e3027': 13176,
 '748d53b07e0be39a7080ebdc1bfb498e': 7339,
 '22c33086af3c686662c232fe9064cc75': 2262,
 'a53fec91b28d8d3cafcec7a054aca44b': 10339,
 '7b1752c6e5365c7fe4359ec9dbf4177b': 7745,
 '0353cd3b38ec83e89c08509fbb28715f': 203,
 'd2aa0bfc7a18d37638e212071ac61fc9': 13255,
 'b74cbeff25c78e69e3df44cf2a1e7761': 11477,
 '5b1fbf1d729d0df8c8de04e166f3f77b': 5756,
 '7007ee229e5e2a5eedac6b69c0af3dd2': 7076,
 '75bc0c467e34717282cb63779718310e': 7404,
 'b0880107ce92c263c48670ba7efd6013': 11074,
 '498216090f098387ebb99e559509509b': 4729,
 '5c8296dbc2d2599de2594a09f483955d': 5828,
 'fe3179a939c0ac1dd48631bb13c73cd9': 15978,
 '01fbea88102b46f036ff17ebe4d23459': 133,
 '7bd1500ae95f2b942f9650f0a724d650': 7798,
 '21e8ec987c393d5d575da0644fa2ee75': 2202,
 '4f49021572f06e6410d351e4b2d9fc82': 5059,
 '0e9534a8931bd6e63f12a888d1c43476': 948,
 '8dc018e7a387c73803e0c7da8fd99b00': 8900,
 '82af2c5e1d3891740a1a50a35adcae19': 8231,
 '2bb48f30e85010bb4c47fde40cfe4641': 2839,
 '55618d3b14bf4f4fbf089d8f297623bc': 5416,
 '9741e25c0b0b84e64ef85f3d9c81fe6c': 9463,
 '2dc2ed2f6f850a665167d36502131713': 2967,
 '572f05986cd9ca8a68e7e68fca7c8e1d': 5529,
 'c0c0561e1ab1679ffec6004b6c450917': 12052,
 '693481c3844337eed094d7e3ade9eb99': 6652,
 '057c82be7460230517ec0a02ca73a70c': 332,
 'fe683d8062ef99d594238099a21fb793': 15989,
 '972bfa90c83db83f39b9ed2a7c53a29d': 9461,
 '4a1673610a8325ef50244001b6414299': 4763,
 '8286c591e71aa49555ee4ed9f1f432f6': 8221,
 '32c42511e417cad36f68f6872a21552f': 3275,
 '8d0f37cb25ebffbc65a87a250b15d403': 8859,
 'fdc465370a656ef1f30e92b21aa4457a': 15951,
 'd993d216a46faf79fcb5b2e8e2cdda7a': 13691,
 'a8ad17e833878b0d4384e5e0489d7add': 10562,
 '05746b230847fca47f80d52c8ac83c4f': 329,
 'b080187d8a482de6aef68c6ce2665498': 11070,
 '42a405678c4e29d1f066a9e5cbecba79': 4312,
 '9883653587b6dc04845754e60d89249c': 9542,
 'd88625ec4bf860f45b6c67315ef8014d': 13622,
 '7438550478546055e8024152a30a4388': 7312,
 '00420fc2b6ede48ec7e941c769a6a840': 22,
 'eb55bc7b061e67e3615a78c1df6f2f97': 14796,
 '0d70ae3a5e62d6bb95b9ab06255036e3': 878,
 'e2ea6671299588892aa65d2900ff7540': 14289,
 '7012f8d14ab72658f52684575169ba59': 7079,
 '0b094473e4c7ae4fe6412795d6453559': 719,
 '8dca9d92afdf17e2329ff2914bf05d8c': 8901,
 'd20a7d6eaa8a7ed6df7d944860eb74b7': 13204,
 '22d2a2d9168ce246fc18b229276fdcc6': 2273,
 'a83fbaca10dcb8f200840fab73ed5abf': 10535,
 '0baa454df3a005fa7621b994b0092213': 762,
 '2b64e5ab22b66acc1d3fbdf7dcd9b62a': 2820,
 '26aeb6520ab15fdbfd2aef614c3973a8': 2538,
 '9dec070a28044ffadbfa902cdaf9e4b1': 9896,
 '60951c2d180d7ce3f20531fc7d9b6fb1': 6110,
 'bb2eee48a4a8fff7e749051d8249fa91': 11720,
 'c3abdd8e4ebe9f2775f14fbecaec4733': 12244,
 'd1622a879792dd77f81c98d93faaa0c0': 13157,
 '0fded2bbbbb6edf817da2d90ec697a25': 1036,
 '950c25b09bf0cca5059e91f1dc598f17': 9337,
 '09d943f7a8c09abb51117801abd866a2': 622,
 '9af0873bd6b5eb10ad0a2ff87ceabb80': 9704,
 '316827a45c61c630a3ce0dde268dd285': 3186,
 '23268094c87127f302ac96d5e1348144': 2300,
 'd38f0fe5e1e52a3f8ae021122e1350dd': 13305,
 'd37b4408c6b3cf2988f0fbcfe3b40b98': 13300,
 'ed557c49bafab49f63a3bdd51484ab73': 14924,
 'd03b894570bbe809ab2ce610d52e4256': 13087,
 '1b666e7f94db591d2a7eae83b230e034': 1764,
 '3933f49a5b9577745ee42f6adec28fea': 3706,
 '1b1ae4a10d8aa0e6e9c311fd89e12f2a': 1743,
 'bf4632a748bec93d5da7ac54f60e586a': 11954,
 '726e52ea83ca2527b6ad999595806b3d': 7221,
 '47682679881ca2f0f97f9938d5dffa5c': 4596,
 'b1e773762052b38569b1e68aaa10576e': 11158,
 '353c7a38a3fafd078eb86809031a7337': 3424,
 'df0edd6b1b907bbcdd5b285432aeb747': 14045,
 '8ac921bec295f67fdc47f3d85511d872': 8704,
 'bdca326c4be13f7e0136766670fe1327': 11870,
 '5336cc7721ec9705b2effa5e99627b98': 5289,
 'fa30ec2a9a741c9425bd78299f11a182': 15720,
 '0809ebd9b2ae59cdd28f9fe464468eae': 510,
 '8411607f18658283372586d942684841': 8309,
 'c6316a07524a6b75ab769e6a88980eaf': 12438,
 '7070fba789b4aa6256b30477d107f97a': 7103,
 'd639991644285b856d0a2c8b846a6858': 13476,
 '75135870f77f06598df504548bfd363d': 7367,
 '56c94ad421f0b3ba7898412d082e9680': 5504,
 '9ca6298400dbc960a48a46aa6abd3db7': 9804,
 'ee6c1cf8a890651464453bced7e78bbc': 14998,
 '9ef3adf7b2dc19378219df8ecbcda1e4': 9951,
 'b8c5c35765bde559a2bf67126607fe8f': 11581,
 '4ec59c18953aeefe3d14251bd5ccb2c0': 5039,
 'a53fec6833650a4a2f63c135dc80023b': 10338,
 'd4e273ba89614e86a65548b4599285e6': 13404,
 'a956e7ddc069887fa85ed8eea869dd8c': 10614,
 'ba63ea17c9ff3121b8e8e8ff9a4cab90': 11669,
 '0cf1e190019e60794edd66bda1a7f4cd': 849,
 'a5cb74bb90c992a62bfc6b8a7c0db94b': 10374,
 '929e972fd27656902cd677c7faebf7bf': 9182,
 'c5abd6e680cc7faf2c51faabea9c133a': 12395,
 '3f3574cf1f845bfdf39d6e378e3357d0': 4109,
 'c846153af4a2080c3cf75ac47f079b3c': 12573,
 'b30868266bcbe81f1c1f05de883931bd': 11221,
 'dc9fe007a00788a25d513a260d1b9a4a': 13893,
 'aa8e27804d725806212ff74c55462418': 10688,
 'c209f893a47a985051c7c94583fffe90': 12132,
 'cf84d72b325e16286e920810c3c92c36': 13033,
 '8efdac2756b265158dd9741da24d8d4b': 8974,
 'fb237d0c0321311cb9f7eabf91874dd8': 15788,
 '747fb60134508c5d1eba4878e4c99da5': 7335,
 '08888b0e6949284de6df1ab7b2feef86': 540,
 '4ec5fe651bff2ca88843133f6b3d5a53': 5041,
 '1cf38abc3d479e1fd89d01f8596b58b3': 1873,
 '05c509cd5bbbdab1985886374259b42f': 346,
 '06d50813f63e310bae35952ca0da7c20': 417,
 '1c55c6785645c643d564dd59ff96204b': 1832,
 '1d5f36eca170de378f4d117a8ff88b13': 1901,
 'b0c7cb1200cc3415633fc8dbf38779f4': 11088,
 'ab878f5a787fc3140de85b911641c849': 10752,
 'e57790d468b55a9ee37aaf0a8ccf1046': 14456,
 '81d47fd97b2de6ee431993377a8b0407': 8182,
 '7082a8969504199f0930a198f9516614': 7107,
 '207dbcdd7a9ffa51f42562bce7710d6b': 2106,
 '79929e3772a798c11313212baaca82f6': 7654,
 '3d6ff667d8c0b51329e40835c8124926': 3998,
 '643a00ea2a7026974218f0e4c26948a1': 6346,
 'd997a45fc29f1c98891bcce4e25ba400': 13694,
 'bac4c08b69328cf2fec32431977ffb99': 11699,
 'd401cd0d5f278cdf4c674100903fe77a': 13344,
 '06389c453a13410620a586b71d04231f': 378,
 'd7d41355efdf7b0ab2ce25bc100bf9d1': 13574,
 '88db920dddadc87b97d065faeed37163': 8608,
 '5aff1ab4cf8c55dd7c0f266624e97e55': 5747,
 'ab250252dfaded1c9a54834f9c829b43': 10726,
 '3629db4e6e54edf39046a46ff9e6ebb9': 3481,
 '57bf98e6bdb130b4e7da6931ab274128': 5562,
 'ed37cfa026c212660ce235b69eef578b': 14917,
 'be7a29e877b8d8c0d01dc36599916fa1': 11909,
 'b624cf07d52ba3329962f9b83d1da1fc': 11416,
 'd8f29ddac0208cc97fb6b62df6c522b8': 13647,
 'adb6d4057b3591b01bdd712254023960': 10880,
 'f9ccc60daf45ef89052938d90adb0f46': 15695,
 '864b3f5ca8d44346b79d93e4a07dd395': 8444,
 '2c682f10f5d27dc83fa5ad3f67666205': 2891,
 '98f33082dac5aa76ed32584923c2312b': 9574,
 'afcb81c3b8b43af67a944296eed23801': 11018,
 '27b670058aae01d91936ca5863a2395a': 2598,
 '1e1018feeef533923a964e7fe7879cbb': 1952,
 '9c9d8de40aee618b75f36e9b0f0586b6': 9803,
 '01cd7f3d796d527b174d1a79c55cf9de': 121,
 '33bb2fedb9965a09a71fb40e4b8eeebf': 3331,
 '2b1abfdb966d85ef562f684f3d209747': 2803,
 '0580216fd8b3a562087d52673f6ba63d': 333,
 'e35758bb4566f7ab407f38e310668db0': 14318,
 'ba9981f5691f6029428e7322acc036e5': 11682,
 '419726a1207fa6716b75bd1360fedb95': 4242,
 '9635ef3c7f615d2ef426bb7aa0812653': 9412,
 'a33668b7d0d8d86f38ad983c0cad6095': 10212,
 '8ba4d1d2cba67543cf90e5c6c7758375': 8763,
 'ce03382a47bfa8a90441b05c72762276': 12940,
 'e8c853eaea49da3fed4a8e4906fea042': 14637,
 '93a8d3a28204f980249ca9275a8ffa49': 9252,
 '5e9453efdf0cd4bc9e755aade599f31b': 5973,
 '339897010c78c9da217ea215b1b627c9': 3323,
 '89b3406c3ba717f1b788ceeb5af9e8b9': 8650,
 'cda5d3f52450ec6d10f244b11622b246': 12915,
 'c46f06993c3aa1f098d55eb9e26979bd': 12297,
 '4f39917c09dce904aa2a5a9f9daa6739': 5057,
 '608636857f50c427bcb90e22b64510a4': 6107,
 '270cb51ba394bc391d514f0371ba3d8f': 2564,
 '138f1385c773283da62fc015bbd61bbd': 1261,
 'd2a3c7fcd082980fdcdf3d50d13094ec': 13254,
 '79eeee5fd7697ae9af54a18b9b16ed10': 7677,
 'f34ae043c2954b058e5f171d24774def': 15281,
 '379cdc5562b847753832388951c5728f': 3595,
 '20f837f8823041630e9f9d528ca6488a': 2136,
 'd476df103a55ac71c31873ed0b25b4c4': 13381,
 'a8b411564cc4c621e3f4d9ec63db7b5f': 10565,
 'bf67992dd821943ef1b882426e8fbee0': 11962,
 'fa20641a952950cca22900332f2e3f68': 15716,
 'e6d3e167553eacb547df384439ce933a': 14536,
 '78f8326adda49da8c2a0cc69625b9dea': 7620,
 '1b926dc32299e37644a16e2bdf363752': 1777,
 '8cf3c50b357c9ca71905e95665096448': 8851,
 '68226599436b07c6c3aedb3a05e0b65a': 6587,
 'bac5d7507310eef3dabe2c72650061d6': 11700,
 '3e6d8879f9ed9f88f99d28bd98d5ca29': 4067,
 '59444f3e7175aea4e989e6e133c26774': 5652,
 '85dd44cbe74cfb9d2e31d561826974f9': 8416,
 'a43b295250f53ee3276f293e8ad6d300': 10277,
 '38f6db63f2240230f9607710b0ee6b5c': 3689,
 '4be3593dd7f973c0778a8f0a284f7ed5': 4873,
 'af5e2ce18d911e5ca4b7771ba39d232e': 10995,
 '20411910a7b41d0903ee09eaaed9dc4e': 2095,
 '74ef44510691008486fe23dd95b111ec': 7362,
 '5384482b63482b95c0b5b60752612737': 5306,
 'eb3f3d81124e6bee0efd8648fc60f0cb': 14789,
 '26f2544258632b6245d69a97da910d17': 2558,
 '32ab5dfda3270f67348e8e9ff0f26499': 3270,
 'ea52cb9750b4ba0ef85b3ae7c7791241': 14740,
 '11c698281c4679760ee8d38693f1a2bc': 1140,
 '3421cae34139affe00a05050b735e4d7': 3354,
 '4042ca74ce1d66b22fdf473911550d23': 4169,
 '1cdf8092f472c650857e2692598eb947': 1867,
 'bae05c764a6fe28c7d926ca84dec9856': 11705,
 '84194d2387503e40042ded8bd1b737da': 8312,
 '4c9182ef8bee204189d302be3bc4ffaf': 4917,
 '8acd87fb84af73e4991b5c6c74a3dd58': 8705,
 '081d1fad9678beb877773d612b2a38de': 515,
 'fd5353fb6e668ce0dc6f1db52e82c346': 15931,
 '0ea1b04911beee36e66c68e004991459': 950,
 'c5ac670d5517a5fa40679456cc964ea4': 12396,
 '395a6f41bbd1a0f23a64f00645264e78': 3724,
 '22c99d0343c03cba38d12220fa1dae22': 2265,
 '53e60f5f287d3887a4499bd1162ff93e': 5333,
 '7f809a07655ceeeabc7f2c7c364a8c6e': 8029,
 'cb39edd54925bd0092554373c1622965': 12779,
 '2504a3b25ebd06362205b7eb327b268b': 2424,
 '94b207bb37db827c04e507a324b73791': 9321,
 'c194b2f7b2342b1fd45a045712785a85': 12097,
 '710145145f365dc43edd8db69a37d88d': 7133,
 '0e18e5be3b617e3df09f43b21c2ad134': 919,
 '5c908bbcaf4c7404a3ab0a27b1fa1353': 5834,
 '6e8203acfe0bbd0b2f4b56bb61bbaf9c': 6981,
 '783450116ae9dac82a9ba46fbfb85855': 7568,
 '9c4bde81b5b4913b46c28986b39be5ae': 9783,
 'e96889a876b9c5956cfc4be6947ee38f': 14681,
 '42f7698e2ca9b1cd0ca7357fd93be6d6': 4331,
 'bc4be960c7f6d68c3cac54bd60e9ba57': 11786,
 '211d0b2012d921aad796e4cd4cc94067': 2144,
 'd24dc7660a59fbb32adaaae3f792be3b': 13226,
 '6b2f0b6e87aaa8d4320cd63eea857227': 6771,
 'd4c0bcf96fbd8278e102971d174aa48e': 13398,
 '46bffc3d027a27e1588e7bc73ce04bd6': 4558,
 'ae50d262d91a29d0f5de5dc61e4e8a3a': 10924,
 'e15270d5812f8fb2e776046252f31c2d': 14184,
 'd89ecb8a0b875c931bcb094b2f32b006': 13624,
 '9378157cdc976cc92a6588c0be502017': 9233,
 '2ef980db262619b50aa9044a01906455': 3039,
 'a4bc56420f136d021b923ee7727dcc37': 10306,
 '74d2a76978de06c793da3360d3cdc0a1': 7354,
 '50a03ac7384bd74d5e2ab8be59557efb': 5137,
 'bab7e72ef63019220275a9555c993d5c': 11692,
 '13f8bcf0ad9728be97d80f321191363d': 1285,
 '722d96fbcd18fdfffa9cb4a73948b77f': 7208,
 '12ebea6468d6bdcfd95bb3ce6e715392': 1215,
 'f833283dfd13549ba88fd946df46a9bc': 15600,
 'f294522de112b4ebe0c9b4f484c5778e': 15227,
 '1b0889ab2be05934f2a6f7cea6bedc73': 1738,
 '9784dd724d432ea370cf33cf5918821a': 9483,
 '86838fb8945b2c1e0bb6348d9d2b7caa': 8463,
 'ac0adaed1346b00390d8f87210126097': 10782,
 '659c5fa5848d18665f5bcd662d84f1d4': 6434,
 'aea303fb804fea8d1e7c8af21f80b8d5': 10951,
 'eee2820035d56b9473bb6bd3e4025c28': 15025,
 'c114332da1e0daca228d96b8aa71e736': 12069,
 'b806be5772bb58ba83c380afba4cdf28': 11527,
 '0ba24121b3931c9dbfbcd211e7c021b6': 759,
 'f079797101b62a9f87861bf602694d08': 15114,
 '6aacfe58df4bd1419fa8e9d3ad38b6b7': 6736,
 '621c980e6b4fd1ca0ddba079ad8c8845': 6204,
 'c88b0cc20a85e966dfca54817e7e872c': 12593,
 '42af6b883911239ba4e8b4fc322098c2': 4313,
 'b1357b8d6cb7a860a6b16ccf1362ef21': 11112,
 'd15ef55fdbf63ef2bddfd1bd67959ab4': 13154,
 '734b658ab8ea45a4a77ac40938f8c027': 7268,
 '31b7cb25896669d9e6e67e3c86b3d39d': 3210,
 '7f2a53c223a2e9113327f671e6ddb39f': 8001,
 '4c9a2d1b041ea32288af0eaa52d659d0': 4920,
 'd6e9c6bb1dff38687280e29f36c69493': 13519,
 '82ae38518fe3e42492d67bde212890ed': 8230,
 '6dd70ca3dd2264d83e61d21ce2a0a089': 6934,
 'fc8f5dfb1f78124502c0ba26d15e6093': 15878,
 '0010bcc39e42b3c2131ed2ce55246e3c': 2,
 '4c44416658a8c57c79e799a1db30fb59': 4898,
 '6cd5ab224d6e8bbac947d91041213402': 6875,
 '4ee5cab24469567f91e53e80377ce7ed': 5045,
 '5170ee46304a1d825450fd23977f5147': 5178,
 '5df2c33b1d170ef5096eb42c19c785d4': 5932,
 '65dd5ca92561c619dcbda419521e9e71': 6452,
 '69a8bf04d098803155171b1afba7c0a6': 6678,
 '36e510cc513de897bb34872a5d41ed80': 3527,
 '8b36b449c6591b27bab5a1d8f9b9291c': 8729,
 'c258eff5d773ff131a253ebc7b521f14': 12151,
 '7852cc9e2243b0613f13dc6b47b8a796': 7583,
 'ee8df1582e431faff2a4dea4b6441ed2': 15009,
 '20ef579dc0ae3d4fee434f6adadac00e': 2133,
 '957ad2bcf499258f7be1f2eeb28a187c': 9365,
 '55de55ac6344f0bea14b08076fdddcac': 5449,
 'a256b566bf08837a13caabc32dafb155': 10150,
 'f9b4b659ad264e54f0600865599dff78': 15691,
 '57d8fe18fb12572e7529ad9777fd75fa': 5568,
 '4d4679c164a423a3852e8ae57687541d': 4960,

In [80]:
train_uniID_copy = train
train.drop('id', inplace=True, axis=1)

In [81]:
train.head()

,cons_12m,cons_gas_12m,cons_last_month,forecast_cons_12m,forecast_discount_energy,forecast_meter_rent_12m,forecast_price_energy_p1,forecast_price_energy_p2,forecast_price_pow_p1,has_gas,...,activity_sfi,activity_wxe,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix,uniqueId
0,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,0,...,0,0,735599,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426,4666
1,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,0,...,0,0,735630,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426,4666
2,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,0,...,0,0,735658,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426,4666
3,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,0,...,0,0,735689,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426,4666
4,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,0,...,0,0,735719,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426,4666

1. Splitting Data

In [82]:
# standardize the features of the training set using StardardScaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(train)
train.head()

,cons_12m,cons_gas_12m,cons_last_month,forecast_cons_12m,forecast_discount_energy,forecast_meter_rent_12m,forecast_price_energy_p1,forecast_price_energy_p2,forecast_price_pow_p1,has_gas,...,activity_sfi,activity_wxe,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix,uniqueId
0,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,0,...,0,0,735599,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426,4666
1,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,0,...,0,0,735630,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426,4666
2,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,0,...,0,0,735658,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426,4666
3,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,0,...,0,0,735689,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426,4666
4,5.490346,0.0,4.001128,4.423595,0.0,2.556652,0.095919,0.088347,58.995952,0,...,0,0,735719,0.106043,0.093474,0.067378,58.936774,36.344726,8.33426,4666

In [83]:
y = train["churn"]
X = train.drop(labels = ["uniqueId","churn"],axis = 1)

In [92]:
Counter(y)

Counter({0: 173893, 1: 19109})

In [84]:
pip install imblearn

Requirement already satisfied: imblearn in c:\users\saivi\appdata\roaming\python\python37\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\saivi\appdata\roaming\python\python37\site-packages (from imblearn) (0.7.0)
Requirement already satisfied: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.18.1)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.14.1)
Requirement already satisfied: scipy>=0.19.1 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.4.1)
Requirement already satisfied: scikit-learn>=0.23 in c:\users\saivi\appdata\roaming\python\python37\site-packages (from imbalanced-learn->imblearn) (0.24.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.23->imbalanced-learn->imblearn) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [85]:
from imblearn.under_sampling import RandomUnderSampler

In [86]:
undersample = RandomUnderSampler(sampling_strategy='majority')

In [90]:
X_under, y_under = undersample.fit_resample(X, y)

In [91]:
from collections import Counter
Counter(y_under)

Counter({0: 19109, 1: 19109})

In [93]:
X_train, X_test, y_train, y_test = train_test_split(X_under, y_under, test_size=0.25, random_state=50)

In [94]:
y_train.value_counts()

0    14361
1    14302
Name: churn, dtype: int64

In [95]:


Counter(y_test)

Counter({1: 4807, 0: 4748})

In [96]:
Counter(y_train)

Counter({0: 14361, 1: 14302})

y_train has very less churn customers 14332 for total of 144751. 
y_train is not a balanced dataset so 
we need standardize the features of the training set using StandardScaler 
and then apply RandonUnderSampler 
which is a "way to balance the data by randomly selecting a subset of data for the targeted classes"

2. Modeling and Evaluation

In [98]:
# Create a function to fit ML algorithms
def fit_ml_algo(algo, X_train, y_train, cv):
    # algo is algorithms name
    # cv is cross-fold validation
    # One Pass
    model = algo.fit(X_train,y_train)
    
    # Accuracy score
    acs = round(model.score(X_train,y_train)*100,2)
    
    # Cross Validation
    train_pred = model_selection.cross_val_predict(algo, X_train,y_train,cv=cv,n_jobs=-1)
    
    # Cross Validation Accuracy Score
    cvs = round(metrics.accuracy_score(y_train, train_pred)*100,3)
    
    # Precision Score
    ps = round(metrics.precision_score(y_train, train_pred)*100,3)
    
    # Recall Score
    rs = round(metrics.recall_score(y_train, train_pred)*100,3)
    
    return train_pred, acs, cvs, rs, ps

In [100]:
#Stochastic Gradient Descent
start_time = time.time()
train_pred_SGD, acs_SGD, cvs_SGD, rs_SGD, ps_SGD = fit_ml_algo(SGDClassifier(),X_train, y_train,5)

log_time = (time.time()-start_time)
print("Accuracy: %s" %acs_SGD)
print("Accuracy CV 10-Fold: %s" %cvs_SGD)
print("Recall Score: %s" %rs_SGD)
print("Precision score: %s" %ps_SGD)
print("Running Time: %s" %datetime.timedelta(seconds=log_time))

Accuracy: 50.1
Accuracy CV 10-Fold: 50.023
Recall Score: 40.001
Precision score: 49.9
Running Time: 0:00:06.771312

In [101]:
# Random Forest Classifier
start_time = time.time()
train_pred_RF, acs_RF, cvs_RF, rs_RF, ps_RF = fit_ml_algo(RandomForestClassifier(),X_train, y_train,5)

log_time = (time.time()-start_time)
print("Accuracy: %s" %acs_RF)
print("Accuracy CV 10-Fold: %s" %cvs_RF)
print("Recall Score: %s" %rs_RF)
print("Precision score: %s" %ps_RF)
print("Running Time: %s" %datetime.timedelta(seconds=log_time))

Accuracy: 100.0
Accuracy CV 10-Fold: 99.219
Recall Score: 100.0
Precision score: 98.458
Running Time: 0:00:12.272411

In [103]:
# Gradient Boost Trees
start_time = time.time()
train_pred_GBC, acs_GBC, cvs_GBC, rs_GBC, ps_GBC = fit_ml_algo(GradientBoostingClassifier(),X_train,y_train,5)

log_time = (time.time()-start_time)
print("Accuracy: %s" %acs_GBC)
print("Accuracy CV 10-Fold: %s" %cvs_GBC)
print("Recall Score: %s" %rs_GBC)
print("Precision score: %s" %ps_GBC)
print("Running Time: %s" %datetime.timedelta(seconds=log_time))

Accuracy: 71.47
Accuracy CV 10-Fold: 70.376
Recall Score: 68.788
Precision score: 70.956
Running Time: 0:00:20.175446

From the model above we can choose Random Forest Classifier as the apt one

Let's test the data

In [105]:
clf_forest = RandomForestClassifier()
clf_forest.fit(X_train,y_train)

RandomForestClassifier()

In [107]:
pred = clf_forest.predict(X_train)
print("Accuracy Score with y_train:", round(metrics.accuracy_score(y_train, pred)*100,3))

Accuracy Score with y_train: 100.0

In [108]:
pred_test = clf_forest.predict(X_test)
print("Accuracy Score with y_test:", round(metrics.accuracy_score(y_test, pred_test)*100,3))

Accuracy Score with y_test: 99.676

In [111]:
# Confusion Matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, pred_test)                # Confusion Matrix

array([[4717,   31],
       [   0, 4807]], dtype=int64)

In [112]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred_test)                  # Accuracy

0.9967556253270539

In [113]:
from sklearn.metrics import recall_score
recall_score(y_test, pred_test, average=None)      # Recall

array([0.99347094, 1.        ])

In [114]:
from sklearn.metrics import precision_score
precision_score(y_test, pred_test, average=None)   # Precision

array([1.        , 0.99359239])